body {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}
p {
  color:#8f8f8f;
}


/* Text Colors */
.text-white{
  color:#ffffff;
}


/* Headings */
.lg-heading {
  font-size: 3rem;
}
.md-heading {
  font-size: 2rem
}
.sm-heading {
  font-size: 1.5rem
}
.light-heading {
  font-weight: 400;
} 
.left-align {
  text-align: left;
}


/* Containers */
.container-fluid {
  padding: 10% 7%;
}


/* Title Section */
#title {
  padding-top: 3%;
  background-color: #A10035;
}
.navbar {
  padding-bottom: 4.5rem;
}
.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.3rem;
  font-weight: bold;
}
.nav-link{
  font-size: 1.2em;
}
.dnld-btn{
  margin: 5% 3% 5% 0;
}
.title-img {
  width: 20%;
  transform: rotate(20deg);
  position: absolute;
  right: 150px;
}


/* Features Section */
#features {
  position: relative;
  background-color: #ffffff;
}
.features-col {
  padding: 4%;
}
.features-icon {
  color:#FF869E;
  margin-bottom: 20px;
}
.features-icon:hover {
  color:#A10035;
}


/* Testimonials Section */
#testimonials {
  background-color: #FF869E;
}
.testimonial-image{
  padding: 15px 15px;
  border-radius: 100%;
  width: 30%;
}
.carousel-item {
  padding: 15% 12%;
}
#press {
  padding: 5% auto;
  background-color: #FF869E;
}
.press-images {
  width:5cm;
  margin: 20px 20px 50px;
}

/* Pricing Section */

.pricing-card-col {
  padding: 2%;
}


/* CTA Section */
#cta{
  background-color: #A10035;
}

/* Footer Section */
#footer{
  padding:3%;
}
.footer-img{
  padding:30px 10px;
}
.footer-img:hover{
  color:#A10035;
}


/* Tablet Media IPHONE Image Setting */
@media (max-width: 991px) {
  #title {
    text-align: center;
  }
  .title-img {
    width: 45%;
    transform: rotate(0);
    position: relative;
    right:0;
  }
}

/* RESPONSIVENESS FOR PHONES */
@media (max-width: 500px) {
  .lg-heading {
    font-size: 1.8rem;
  }
  .md-heading {
    font-size: 1.5rem;
  }
  .sm-heading {
    font-size: 1.2rem;
  }
  .p {
    font-size: 1rem;
  }
  .press-images {
    width:3cm;
    margin: 20px 20px 50px;
  }
  .container-fluid {
    padding: 20% 7%;
  }
  .title-img {
    width: 55%;
  }
}
